<h3 class="pt-5 mx-2">COVID-19 in Headlines</h3>

<div class="row mx-1">
    <div class="col-12 col-md-6 mb-3" *ngFor="let article of news">
        <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" [src]="article.urlToImage" [alt]="article.title" data-placeholder="../../assets/images/news-placeholder.png" onerror="this.src=this.getAttribute('data-placeholder')" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [href]="article.url" target="_blank">{{ article.title }}</a>
                    </h4>
                    <p class="card-text text-right">{{ article.source.name }} <span class="badge badge-pill badge-secondary">{{ formatDate(article.publishedAt) }}</span></p>
                </div>
            </div>
        </div>    
    </div>
</div>