<div *ngIf="globalStats" class="my-5">
	<div class="row">
		<div class="col-12 col-md-6 col-xl-3 mb-4">
			<div class="card all" routerLink="/cases">
				<img class="card-img-top" src="../../../assets/images/card-1.jpg" alt="Card image cap">
				<div class="card-img-overlay text-center text-primary">
					{{ numberWithCommas(globalStats.cases) }}
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Total Cases</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-3 mb-4">
			<div class="card all" [routerLink]="['/cases', 'active']">
				<img class="card-img-top" src="../../../assets/images/card-2.jpg" alt="Card image cap">
				<div class="card-img-overlay text-center text-info">
					{{ numberWithCommas(globalStats.active) }}
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Active Cases</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-3 mb-4">
			<div class="card all" [routerLink]="['/cases', 'recovered']">
				<img class="card-img-top" src="../../../assets/images/card-1.jpg" alt="Card image cap">
				<div class="card-img-overlay text-center text-success">
					{{ numberWithCommas(globalStats.recovered) }}
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Recovered</h5>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 col-xl-3 mb-4">
			<div class="card deaths" [routerLink]="['/cases', 'deaths']">
				<img class="card-img-top" src="../../../assets/images/card-3.svg" alt="Card image cap">
				<div class="card-img-overlay text-center text-danger">
					{{ numberWithCommas(globalStats.deaths) }}
				</div>
				<div class="card-body">
					<h5 class="card-title text-center">Deaths</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-right">
			<small><em>Last updated: {{ formatDate(globalStats.updated) }}</em></small> 
			<button class="badge badge-pill badge-warning ml-3" (click)="refreshData()">
				<svg class="bi bi-arrow-clockwise" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M3.17 6.706a5 5 0 017.103-3.16.5.5 0 10.454-.892A6 6 0 1013.455 5.5a.5.5 0 00-.91.417 5 5 0 11-9.375.789z" clip-rule="evenodd"/>
					<path fill-rule="evenodd" d="M8.147.146a.5.5 0 01.707 0l2.5 2.5a.5.5 0 010 .708l-2.5 2.5a.5.5 0 11-.707-.708L10.293 3 8.147.854a.5.5 0 010-.708z" clip-rule="evenodd"/>
				</svg>
				Refresh Now
			</button>
		</div>
	</div>
</div>
<app-loading *ngIf="!globalStats"></app-loading>
