<h3 class="pt-5 mx-2" tabindex="0">COVID-19 in Headlines</h3>

<div class="row">
    <div class="col s12 m6">
        <ul class="collection">
            <li class="collection-item avatar" *ngFor="let article of news | slice:0:splitIndex">
                <a class="title" [href]="article.url" target="_blank">
                    <img class="circle" [src]="article.urlToImage" [alt]="article.title" data-placeholder="../../assets/images/news-placeholder.png" onerror="this.src=this.getAttribute('data-placeholder')">
                </a>
                <a class="title" [href]="article.url" target="_blank">{{ article.title }}</a>
                <p class="right-align">{{ article.source.name }} <span class="badge">{{ formatterService.date(article.publishedAt) }}</span></p>
            </li>
        </ul>
    </div>
    <div class="col s12 m6">
        <ul class="collection">
            <li class="collection-item avatar" *ngFor="let article of news | slice:splitIndex:news.length">
                <a class="title" [href]="article.url" target="_blank">
                    <img class="circle" [src]="article.urlToImage" [alt]="article.title" data-placeholder="../../assets/images/news-placeholder.png" onerror="this.src=this.getAttribute('data-placeholder')">
                </a>
                <a class="title" [href]="article.url" target="_blank">{{ article.title }}</a>
                <p class="right-align">{{ article.source.name }} <span class="badge">{{ formatterService.date(article.publishedAt) }}</span></p>
            </li>
        </ul>
    </div>
    
</div>



<div class="row mx-1">
    <!-- <div class="col s12 m6 mb-3" *ngFor="let article of news"> -->
        <!-- <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" [src]="article.urlToImage" [alt]="article.title" data-placeholder="../../assets/images/news-placeholder.png" onerror="this.src=this.getAttribute('data-placeholder')" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        <a [href]="article.url" target="_blank">{{ article.title }}</a>
                    </h4>
                    <p class="card-text text-right">{{ article.source.name }} <span class="badge badge-pill badge-secondary">{{ formatterService.date(article.publishedAt) }}</span></p>
                </div>
            </div>
        </div>     -->
    <!-- </div> -->
</div>