<div class="row">
    <div class="col s12 m6">
        <h2 class="mb-3" tabindex="0">Country Data</h2>
    </div>
    <div class="col s12 m6 l4 offset-l2">
        <div class="container-fluid" *ngIf="!isLoading">
            <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input type="text" placeholder="Search country" (keyup)="filterCountry($event)" />
            </div>
            <div class="">
                <p class="right-align">Data sorted by: <strong>{{ sortLabel[sortBy] }}</strong></p>
            </div>
        </div>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<country-table [list]="displayData" [sortBy]="sortBy" (notifyOnSort)="handleOnSort($event)"></country-table>

<p class="note"><i class="material-icons note-icon">info_outline</i> Click on any country row to see more insights about that country.</p>
