h2 {
    margin-top: 0 !important;

    @media (max-width: 568px) {
        font-size: 3.2rem;
    }
}

.note{
    margin: 2rem 0 5rem;
    padding-left: 2.5rem;
    position: relative;

    &-icon {
        position: absolute;
        left: 5px;
        top: -4px;
    }
}