<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="../../../assets/images/coronavirus.webp" width="30" height="30" class="d-inline-block align-middle"
                alt="">
            Corona Virus
        </a>
        <a class="navbar-text" aria-label="COVID-19 on twitter" target="_blank" rel="noopener"
            href="https://twitter.com/search?q=%23covid19&src=typed_query" title="Twitter">
            <img src="../assets/images/icon-twitter.svg" alt="Twitter" height="42" />
        </a>
    </div>
</nav>