<section *ngIf="stats">
	<h2 class="mt-3 mb-5" tabindex="0">
		<img *ngIf="stats.countryInfo" alt="{{ stats.country }} country logo image" src="{{ stats.countryInfo.flag }}" class="align-baseline" />
		{{ stats.country }}
	</h2>
	<div class="row">
		<div class="col s12 m6">
			<h3 tabindex="0">COVID-19 stats:</h3>
		</div>
		<div class="col s12 m6 right-align updated-at">
			<small><em>Last updated: {{ formatterService.date(stats.updated) }}</em></small>
		</div>
	</div>

	<div class="row">
		<div class="col s6 xl3">
			<div class="card blue darken-1">
				<div class="card-content white-text">
					<span class="card-title"><span class="hide-on-small-only">Case</span> Reported</span>
				</div>
				<div class="card-action white-text">
					<p>Total: <strong>{{ formatterService.number(stats.cases) }}</strong></p>
					<p>Today: <strong>{{ formatterService.number(stats.todayCases) }}</strong></p>
				</div>
			</div>
		</div>
		<div class="col s6 xl3">
			<div class="card red darken-3">
				<div class="card-content white-text">
					<span class="card-title">Deaths</span>
				</div>
				<div class="card-action white-text">
					<p>Total: <strong>{{ formatterService.number(stats.deaths) }}</strong></p>
					<p>Today: <strong>{{ formatterService.number(stats.todayDeaths) }}</strong></p>
				</div>
			</div>
		</div>
		<div class="col s6 xl3">
			<div class="card green darken-1">
				<div class="card-content white-text">
					<span class="card-title">Recovered</span>
				</div>
				<div class="card-action white-text">
					<p>Total: <strong>{{ formatterService.number(stats.recovered) }}</strong></p>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
		<div class="col s6 xl3">
			<div class="card yellow darken-3">
				<div class="card-content white-text">
					<span class="card-title">Active</span>
				</div>
				<div class="card-action white-text">
					<p>Total: <strong>{{ formatterService.number(stats.active) }}</strong></p>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<h3 tabindex="0">More Information:</h3>
			<table class="more-info responsive-table">
				<thead>
					<tr>
						<th scope="col">Critical</th>
						<th scope="col">Cases per 1M</th>
						<th scope="col">Deaths per 1M</th>
						<th scope="col">Tests</th>
						<th scope="col">Tests per 1M</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ formatterService.number(stats.critical) }}</td>
						<td>{{ formatterService.number(stats.casesPerOneMillion) }}</td>
						<td>{{ formatterService.number(stats.deathsPerOneMillion) }}</td>
						<td>{{ formatterService.number(stats.tests) }}</td>
						<td>{{ formatterService.number(stats.testsPerOneMillion) }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<h3 tabindex="0">Historical Data:</h3>
			<area-chart [timeline]="timeline"></area-chart>
		</div>
	</div>

	<div class="card">
		<div class="card-content">
			<h3 tabindex="0">Daily Report:</h3>
			<stacked-chart [timeline]="timeline"></stacked-chart>
		</div>
	</div>

	<div class="btn-group right-align">
		<a class="waves-effect waves-light btn white blue-text" routerLink="/">
			<i class="material-icons left hide-on-med-and-down">home</i>Home
		</a>
		<a class="waves-effect waves-light btn blue" routerLink="/cases">
			<i class="material-icons left hide-on-med-and-down">public</i>Go back to list page
		</a>
	</div>

</section>