table {
    border-collapse: collapse;
}

thead {
    tr {
        background: #e9ecef;
    }
}

td {
    cursor: pointer;
    padding-left: 10px;

    @media (max-width: 992px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

td,
th {
    border: 1px solid #dee2e6;
}


tr {
    border: 1px solid #dee2e6;

    @media (max-width: 992px) {
        padding: 0 !important;
    }
}

tbody {
    tr:hover {
        color: #212529;
        background-color: rgba(0,0,0,.075);
    }
}

.clickable {
    cursor: pointer;
}