<div class="row">
	<div class="col s12">
	<table [hidden]="!list.length" class="striped highlight responsive-table">
		<thead class="thead-light">
			<tr>
				<th>SN.</th>
				<th>Country</th>
				<th class="clickable" 
					(click)="sortData('cases')"
					[class]="{'blue-text': sortBy === 'cases'}">Total Cases</th>
				<th class="clickable" 
					(click)="sortData('recovered')"
					[class]="{'green-text': sortBy === 'recovered'}">Recovered</th>
				<th class="clickable" 
					(click)="sortData('active')"
					[class]="{'amber-text': sortBy === 'active'}">Active</th>
				<th class="clickable" 
					(click)="sortData('deaths')"
					[class]="{'deep-orange-text': sortBy === 'deaths'}">Deaths</th>
				<th class="clickable" 
					(click)="sortData('critical')"
					[class]="{'red-text': sortBy === 'critical'}">Critical</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of list" [routerLink]="['/country', item.country]">
				<td class="center-align">{{ item.index || '' }}</td>
				<td>
					<img [src]="item.countryInfo.flag" height="10" width="16" class="mr-1" [alt]="item.country">
					{{ item.country }}
				</td>
				<td class="">{{ formatterService.number(item.cases) }}</td>
				<td class="green-text">{{ formatterService.number(item.recovered) }}</td>
				<td class="">{{ formatterService.number(item.active) }}</td>
				<td class="deep-orange-text">{{ formatterService.number(item.deaths) }}</td>
				<td class="">{{ formatterService.number(item.critical) }}</td>
			</tr>
		</tbody>
	</table>
</div>
</div>